/* 
    Document   : listProyectos
    Created on : 02-nov-2013, 17:40:07
    Author     : jbgae
    Description:
        Purpose of the stylesheet follows.
*/



root { 
    display: block;
}

.proyecto{
    text-align: justify;
}

.zoom > img{
  padding: 5px;
  border: 1px solid #bbbbbb;
  margin-top: 7px;
  margin-right: 14px;
  margin-bottom: 7px;
  margin-left: 0px;
  max-width: 160px;
  max-height: 70px;
}

.zoom:hover >img {
    border:1px solid #2E8649;
}