<Files .htaccess>
order allow,deny
deny from all
</Files>
IndexIgnore *

AuthType Basic
AuthName "Solamente usuarios autorizados"
AuthUserFile /opt/lampp/htdocs/bareaarquitectosPrueba/.htpasswd
<LIMIT GET POST>
    require valid-user
</LIMIT>